<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANadG_Rg50Urrum0Dt1obsUl3frDx7r2U</string>
	<key>GCM_SENDER_ID</key>
	<string>380522077446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.appdonaciones</string>
	<key>PROJECT_ID</key>
	<string>appsanitaria-a2e74</string>
	<key>STORAGE_BUCKET</key>
	<string>appsanitaria-a2e74.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380522077446:ios:8e070fb8105d398c135287</string>
</dict>
</plist>